/* @keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 500px;
  }
}

@keyframes slideOut {
  from {
    width: fit-content;
  }
  to {
    width: 0;
  }
}

.drawer[data-state='open'] {
  animation: slideIn 300ms ease-out forwards;
}

.drawer[data-state='closed'] {
  animation: slideOut 300ms ease-in forwards;
} */

/* .drawer {
  position: relative;
} */
